# Dependencies
/admin-app/node_modules
/customer-app/node_modules

# Build artifacts
/admin-app/dist
/customer-app/android/build
/customer-app/ios/build
/backend/target

# IDE files
.vscode/
.idea/

# Log files
npm-debug.log
yarn-error.log

# OS files
.DS_Store
